trunk/fab-db/src/main/webapp/WEB-INF/wsdl/FABwsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. -->
<definitions targetNamespace="http://fab/" name="FABwsService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://fab/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://fab/" schemaLocation="FABwsService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="login">
    <part name="parameters" element="tns:login"/>
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse"/>
  </message>
  <message name="getModuleInfo">
    <part name="parameters" element="tns:getModuleInfo"/>
  </message>
  <message name="getModuleInfoResponse">
    <part name="parameters" element="tns:getModuleInfoResponse"/>
  </message>
  <message name="getServiceInfo">
    <part name="parameters" element="tns:getServiceInfo"/>
  </message>
  <message name="getServiceInfoResponse">
    <part name="parameters" element="tns:getServiceInfoResponse"/>
  </message>
  <message name="OrderInput">
    <part name="parameters" element="tns:OrderInput"/>
  </message>
  <message name="OrderInputResponse">
    <part name="parameters" element="tns:OrderInputResponse"/>
  </message>
  <message name="OrderTracking">
    <part name="parameters" element="tns:OrderTracking"/>
  </message>
  <message name="OrderTrackingResponse">
    <part name="parameters" element="tns:OrderTrackingResponse"/>
  </message>
  <message name="IncidentInput">
    <part name="parameters" element="tns:IncidentInput"/>
  </message>
  <message name="IncidentInputResponse">
    <part name="parameters" element="tns:IncidentInputResponse"/>
  </message>
  <message name="IncidentTracking">
    <part name="parameters" element="tns:IncidentTracking"/>
  </message>
  <message name="IncidentTrackingResponse">
    <part name="parameters" element="tns:IncidentTrackingResponse"/>
  </message>
  <message name="GetService">
    <part name="parameters" element="tns:GetService"/>
  </message>
  <message name="GetServiceResponse">
    <part name="parameters" element="tns:GetServiceResponse"/>
  </message>
  <message name="GetTarrif">
    <part name="parameters" element="tns:GetTarrif"/>
  </message>
  <message name="GetTarrifResponse">
    <part name="parameters" element="tns:GetTarrifResponse"/>
  </message>
  <message name="GetServiceList">
    <part name="parameters" element="tns:GetServiceList"/>
  </message>
  <message name="GetServiceListResponse">
    <part name="parameters" element="tns:GetServiceListResponse"/>
  </message>
  <message name="GetServiceData">
    <part name="parameters" element="tns:GetServiceData"/>
  </message>
  <message name="GetServiceDataResponse">
    <part name="parameters" element="tns:GetServiceDataResponse"/>
  </message>
  <message name="UpdateBillInfo">
    <part name="parameters" element="tns:UpdateBillInfo"/>
  </message>
  <message name="UpdateBillInfoResponse">
    <part name="parameters" element="tns:UpdateBillInfoResponse"/>
  </message>
  <message name="GetBillingData">
    <part name="parameters" element="tns:GetBillingData"/>
  </message>
  <message name="GetBillingDataResponse">
    <part name="parameters" element="tns:GetBillingDataResponse"/>
  </message>
  <message name="BillTransaction">
    <part name="parameters" element="tns:BillTransaction"/>
  </message>
  <message name="BillTransactionResponse">
    <part name="parameters" element="tns:BillTransactionResponse"/>
  </message>
  <portType name="FABws">
    <operation name="login">
      <input wsam:Action="http://fab/FABws/loginRequest" message="tns:login"/>
      <output wsam:Action="http://fab/FABws/loginResponse" message="tns:loginResponse"/>
    </operation>
    <operation name="getModuleInfo">
      <input wsam:Action="http://fab/FABws/getModuleInfoRequest" message="tns:getModuleInfo"/>
      <output wsam:Action="http://fab/FABws/getModuleInfoResponse" message="tns:getModuleInfoResponse"/>
    </operation>
    <operation name="getServiceInfo">
      <input wsam:Action="http://fab/FABws/getServiceInfoRequest" message="tns:getServiceInfo"/>
      <output wsam:Action="http://fab/FABws/getServiceInfoResponse" message="tns:getServiceInfoResponse"/>
    </operation>
    <operation name="OrderInput">
      <input wsam:Action="http://fab/FABws/OrderInputRequest" message="tns:OrderInput"/>
      <output wsam:Action="http://fab/FABws/OrderInputResponse" message="tns:OrderInputResponse"/>
    </operation>
    <operation name="OrderTracking">
      <input wsam:Action="http://fab/FABws/OrderTrackingRequest" message="tns:OrderTracking"/>
      <output wsam:Action="http://fab/FABws/OrderTrackingResponse" message="tns:OrderTrackingResponse"/>
    </operation>
    <operation name="IncidentInput">
      <input wsam:Action="http://fab/FABws/IncidentInputRequest" message="tns:IncidentInput"/>
      <output wsam:Action="http://fab/FABws/IncidentInputResponse" message="tns:IncidentInputResponse"/>
    </operation>
    <operation name="IncidentTracking">
      <input wsam:Action="http://fab/FABws/IncidentTrackingRequest" message="tns:IncidentTracking"/>
      <output wsam:Action="http://fab/FABws/IncidentTrackingResponse" message="tns:IncidentTrackingResponse"/>
    </operation>
    <operation name="GetService">
      <input wsam:Action="http://fab/FABws/GetServiceRequest" message="tns:GetService"/>
      <output wsam:Action="http://fab/FABws/GetServiceResponse" message="tns:GetServiceResponse"/>
    </operation>
    <operation name="GetTarrif">
      <input wsam:Action="http://fab/FABws/GetTarrifRequest" message="tns:GetTarrif"/>
      <output wsam:Action="http://fab/FABws/GetTarrifResponse" message="tns:GetTarrifResponse"/>
    </operation>
    <operation name="GetServiceList">
      <input wsam:Action="http://fab/FABws/GetServiceListRequest" message="tns:GetServiceList"/>
      <output wsam:Action="http://fab/FABws/GetServiceListResponse" message="tns:GetServiceListResponse"/>
    </operation>
    <operation name="GetServiceData">
      <input wsam:Action="http://fab/FABws/GetServiceDataRequest" message="tns:GetServiceData"/>
      <output wsam:Action="http://fab/FABws/GetServiceDataResponse" message="tns:GetServiceDataResponse"/>
    </operation>
    <operation name="UpdateBillInfo">
      <input wsam:Action="http://fab/FABws/UpdateBillInfoRequest" message="tns:UpdateBillInfo"/>
      <output wsam:Action="http://fab/FABws/UpdateBillInfoResponse" message="tns:UpdateBillInfoResponse"/>
    </operation>
    <operation name="GetBillingData">
      <input wsam:Action="http://fab/FABws/GetBillingDataRequest" message="tns:GetBillingData"/>
      <output wsam:Action="http://fab/FABws/GetBillingDataResponse" message="tns:GetBillingDataResponse"/>
    </operation>
    <operation name="BillTransaction">
      <input wsam:Action="http://fab/FABws/BillTransactionRequest" message="tns:BillTransaction"/>
      <output wsam:Action="http://fab/FABws/BillTransactionResponse" message="tns:BillTransactionResponse"/>
    </operation>
  </portType>
  <binding name="FABwsPortBinding" type="tns:FABws">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="login">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getModuleInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getServiceInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="OrderInput">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="OrderTracking">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="IncidentInput">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="IncidentTracking">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetTarrif">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetServiceList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetServiceData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="UpdateBillInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetBillingData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="BillTransaction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="FABwsService">
    <port name="FABwsPort" binding="tns:FABwsPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

